<!DOCTYPE html>
<html>
  <head>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.showmore').click(function() {
                $( 'table tr:hidden').slice(0,20).show();
                if ( $('table tr').length == $('table tr:visible').length ) {
                    $('button').hide();
                }
            });
        });
    </script>
  </head>

  <body>
    <h1>Coursera Course List</h1>

    <table border="1">
      {% for course in courses %}
        <tr class="row">
          <td>
              <span id="name">{{ course.name }}</span>
              <br/>
              {% if course.instructor != '' and course.instructor is not none %}
                <span id="instructor">{{ course.instructor }}</span><br/>
              {% endif %}
              {% if course.start_date != '' and course.start_date is not none %}
                <span id="start">Start Date: {{ course.start_date }}</span><br/>
              {% endif %}
              {% if course.duration != '' and course.duration is not none %}
                <span id="duration">{{ course.duration }}</span><br/>
              {% endif %}
              <br/>
              {% if course.description != '' and course.description is not none %}
                <span id="description">{{ course.short_description }}</span>
              {% endif %}
            </div>
          </td>
          <td><img src="{{ course.image }}" alt=""></img></td>
          <td class="third">
            {% if course.preview_link is not none %}
              <form method="link" action="{{ course.preview_link }}">
                <input type="submit" class="preview" value="Check out class preview!">
                <br/><br/>
              </form>
            {% endif %}
            {% for uni in course.universities %}
              {% if uni.u_home_link is not none and uni.u_home_link != '' %}
                <a href="{{ uni.u_home_link }}">
                <img src="{{ uni.u_logo }}" class="logo"></a><br/><br/>
              {% elif uni.u_website is not none and uni.u_website != '' %}
                <a href="{{ uni.u_website }}">
                <img src="{{ uni.u_logo }}" class="logo"></a><br/><br/>
              {% elif uni.u_logo is not none and uni.u_logo != '' %}
                <img src="{{ uni.u_logo }}" class="logo"><br/><br/>
              {% endif %}

              {% if uni.u_logo == '' and uni.u_home_link is not none and uni.u_home_link != '' %}
                <a href="{{ uni.u_home_link }}">
                <span class="u_name">{{ uni.u_name }}</span></a><br/><br/>
              {% elif uni.u_logo == '' and uni.u_website is not none and uni.u_website != '' %}
                <a href="{{ uni.u_website }}">
                <span class="u_name">{{ uni.u_name }}</span></a><br/><br/>
              {% elif uni.u_logo == '' %}
                <span class="u_name">{{ uni.u_name }}</span><br/><br/>
              {% endif %}

            {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </table>
    <button type="button" class="showmore">Show More</button>



  </body>
</html>
